<div class="col-span-6 sm_col-span-6 md_col-span-3 lg_col-span-2 xl_col-span-2">
  <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
    <div class="px-4 py-2">
      <h1 class="text-gray-900 font-bold text-3xl uppercase">
        <%= product.title %>
      </h1>
      <p class="text-gray-600 text-lg mt-1">
        <%= product.description %>
      </p>
    </div>
    <img
      class="h-56 w-full object-cover mt-2"
      src="<%= product.imageUrl %>"
      alt="<%= product.title %>"
    />
    <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
      <h1 class="text-gray-200 font-bold text-xl">
        $<%= product.price %>
      </h1>
      <button
        class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
